@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&family=Montserrat:wght@700&display=swap");

.fare-calculator {
  max-width: 350px;
  margin: 0 auto;
  background: #f9f9f9;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  border: lightgrey 3px solid;
  color: #666666;

  .heading-section {
    font-family: "Roboto", sans-serif;
    background: #5a5a5a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
  }

  .heading-text {
    margin: 0;
    color: white;
    font-size: 1.5rem;
  }

  .section {
    padding: 15px 30px;
    border-bottom: 1px solid lightgray;
    &.fare,
    &.trips {
      display: flex;
      justify-content: center;
    }
    &.trips .trip-input {
      max-width: 80px;
      margin: 0 auto;
    }
    &:last-child {
      border: none;
    }
  }

  .section-header {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 0.5rem;
  }

  .dropdown-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path d="M5 6L0 0h10z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .radio-buttons {
    border: none;
    padding: 10px;
  }

  .radio-button {
    display: flex;
    flex-direction: row;
    font-weight: 200;
    margin-left: 25%;
  }

  .septa-logo {
    width: 40px;
    height: 25px;
    margin-right: 10px;
  }

  .fare-data {
    font-size: 0.8rem;
  }

  .trip-input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .total-price {
    background: #5a5a5a;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px 0;
    p {
      margin: 0;
    }
    h2 {
      margin: 0;
      font-size: 3rem;
    }
  }

  .error {
    color: red;
    text-align: center;
    margin-top: 0.5rem;
  }
}
